@import "normalize.css";
@import "container.css";
@import "header.css";
@import "main.css";
@font-face {
    font-family: "TT Lakes";
    font-style: normal;
    font-weight: normal;
    src: url("TTLakes-Regular.woff");
}

/*{
    background-image: url('../Img/PP320.jpg');
    repeat: no-repeat;

}*/

