@import "normalize.css";
@import "container.css";
@import "header.css";
@import "main.css";
@font-face {
    font-family: "TT Lakes";
    font-style: normal;
    font-weight: normal;
    src: url("../../fonts/Block-1-3/TTLakes/TTLakes-Regular.woff"),
        url('../../fonts/Block-1-3/TTLakes/TTLakesCompressed-Regular.ttf');
}

/*{
    background-image: url('../Img/PP320.jpg');
    repeat: no-repeat;

}*/

