@import "normalize.css";
@font-face {
    font-family: "TT Lakes";
    font-style: normal;
    font-weight: normal;
    src: url("../../fonts/Block-1-5/TTLakes/TTLakes-Regular.woff"),
        url('../../fonts/Block-1-5/TTLakes/TTLakes-Regular.ttf'); 
}
@font-face {
    font-family: "TT Lakes";
    font-style: normal;
    font-weight: bold;
    src: url("../../fonts/Block-1-5/TTLakes/TTLakes-Bold.woff"),
        url('../../fonts/Block-1-5/TTLakes/TTLakes-Bold.ttf');
}
.brand__title{
    font-family:"TT Lakes";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #7E7E82;
    margin: auto 0;
    border-top: 1px solid #D9FFF5;
    align-items: center;
    vertical-align: center;
    padding: 16px;
    background-color: aqua;
    box-sizing: border-box;
}